Repository pyhoneybot/honeybot, pull requests merged in 2022-10, with the labels that each got.

#154 Added random image plugin.
  README.md
  src/honeybot/plugins/downloaded/random_image/__init__.py
  src/honeybot/plugins/downloaded/random_image/info.py
  src/honeybot/plugins/downloaded/random_image/main.py
  src/honeybot/plugins/downloaded/random_image/requirements.txt
Labels: enhancement, plugin

#155 Added new plugin for random excuses.
  README.md
  src/honeybot/plugins/downloaded/duckduckgo/main.py
  src/honeybot/plugins/downloaded/excuse/__init__.py
  src/honeybot/plugins/downloaded/excuse/info.py
  src/honeybot/plugins/downloaded/excuse/main.py
  src/honeybot/plugins/downloaded/excuse/requirements.txt
Labels: enhancement, plugin

#157 added new plugin url-shortener.
  README.md
  src/honeybot/plugins/downloaded/url_shorten/__init__.py
  src/honeybot/plugins/downloaded/url_shorten/info.py
  src/honeybot/plugins/downloaded/url_shorten/main.py
  src/honeybot/plugins/downloaded/url_shorten/requirements.txt
Labels: enhancement, plugin

#161 Fix: Some plugins had wrong run signature
  src/honeybot/plugins/core/joins/main.py
  src/honeybot/plugins/core/log/main.py
  src/honeybot/plugins/core/uptime/main.py
Labels: bug, plugin

#162 Format new plugins to comply black rules:
  src/honeybot/plugins/downloaded/duckduckgo/main.py
  src/honeybot/plugins/downloaded/url_shorten/main.py
Labels: style
